<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Intro to Vue</title>
  	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
  	<div id="app">
  		<!-- two-way data binding -->
  		{{message}}<br />
  		<input v-model='message'>
  		<!-- looping through a list -->
  		<ul>Learning Objectives
  			<li v-for='task in learning_objectives'>{{ task }}</li>
  		</ul>
  		<button v-on:click='buttonClick'>Click here</button>
  	</div>
  	<script>
  		new Vue({
		  el: '#app',
		  data: {
		    message: 'Intro to Vue',
		    learning_objectives: ['Print text to the screen', 'Bind data from a text input to a variable', 'Loop through a list', 'Attach an event handler'], 
		    buttonClick: function() {
		    	alert('You clicked the button!');
		    }
		  }
		})
  	</script>
  </body>
</html>